{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}About - Sedekah Inovasi Digital{% endblock %}

{% block content %}

        <!-- Overlay Start -->
        <div class="overlay"></div>
        <!-- Overlay End -->

        <!-- Page Banner Start -->
        <div class="section page-banner">

            <img class="shape-1 animation-round" src="{% static 'myapp\images/shape/shape-8.png' %}" alt="Shape">

            <img class="shape-2" src="{% static 'myapp\images/shape/shape-23.png' %}" alt="Shape">

            <div class="container">
                <!-- Page Banner Start -->
                <div class="page-banner-content">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active">About</li>
                    </ul>
                    <h2 class="title">About <span>Sedekah Inovasi Digital.</span></h2>
                </div>
                <!-- Page Banner End -->
            </div>

            <!-- Shape Icon Box Start -->
            <div class="shape-icon-box">

                <img class="icon-shape-1 animation-left" src="{% static 'myapp\images/shape/shape-5.png' %}" alt="Shape">

                <div class="box-content">
                    <div class="box-wrapper">
                        <i class="flaticon-badge"></i>
                    </div>
                </div>

                <img class="icon-shape-2" src="{% static 'myapp\images/shape/shape-6.png' %}" alt="Shape">

            </div>
            <!-- Shape Icon Box End -->

            <img class="shape-3" src="{% static 'myapp\images/shape/shape-24.png' %}" alt="Shape">

            <img class="shape-author" src="{% static 'myapp\images/author/author-11.jpg' %}" alt="Shape">

        </div>
        <!-- Page Banner End -->

        <!-- About Start -->
        <div class="section">

            <div class="section-padding-02 mt-n10">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">

                            <!-- About Images Start -->
                            <div class="about-images">
                                <div class="images">
                                    <img src="{% static 'myapp\images/about.jpg' %}" alt="About">
                                </div>

                                <div class="about-years">
                                    <div class="years-icon">
                                        <img src="{% static 'myapp\images/logo-icon.png' %}" alt="About">
                                    </div>
                                    <p><strong>2+</strong> Tahun Pengalaman</p>
                                </div>
                            </div>
                            <!-- About Images End -->

                        </div>
                        <div class="col-lg-6">

                            <!-- About Content Start -->
                            <div class="about-content">
                                <h5 class="sub-title">Jelajahi visi dan misi Sedekah Inovasi Digital.</h5>
                                <h2 class="main-title">Kami berkomitmen untuk mengembangkan <span>literasi digital.</span></h2>
                                <p>Pada era digital yang terus berkembang pesat, literasi digital menjadi keahlian yang krusial untuk mengikuti perkembangan zaman. Dalam konteks Islam, penting bagi umat muslim untuk tetap berpegang pada prinsip-prinsip agama sambil mengembangkan kemampuan literasi digital yang relevan. Yayasan Sedekah Inovasi Digital bertujuan untuk menciptakan individu muslim yang cerdas di era digital, dengan tetap memegang teguh nilai-nilai Islam.</p>
                                <!-- <a href="#" class="btn btn-primary btn-hover-dark">Mulai Sekarang</a> -->
                            </div>
                            <!-- About Content End -->

                        </div>
                    </div>
                </div>
            </div>

            <div class="section-padding-02 mt-n6">
                <div class="container">

                    <!-- About Items Wrapper Start -->
                    <div class="about-items-wrapper">
                        <div class="row">
                            <div class="col-lg-4">
                                <!-- About Item Start -->
                                <div class="about-item">
                                    <div class="item-icon-title">
                                        <div class="item-icon">
                                            <i class="flaticon-tutor"></i>
                                        </div>
                                        <div class="item-title">
                                            <h3 class="title">  Meningkatkan Literasi Digital</h3>
                                        </div>
                                    </div>
                                    <p> Peserta akan memperoleh keterampilan IT esensial, 
                                        mulai dari penggunaan komputer dasar hingga 
                                        pemrograman lanjutan dan keamanan siber, 
                                        sehingga mereka siap untuk berkembang dalam 
                                        berbagai lingkungan profesional</p>
                                </div>
                                <!-- About Item End -->
                            </div>
                            <div class="col-lg-4">
                                <!-- About Item Start -->
                                <div class="about-item">
                                    <div class="item-icon-title">
                                        <div class="item-icon">
                                            <i class="flaticon-coding"></i>
                                        </div>
                                        <div class="item-title">
                                            <h3 class="title">Pembelajaran Inklusif</h3>
                                        </div>
                                    </div>
                                    <p> Menciptakan lingkungan belajar yang inklusif di 
                                        mana semua peserta, tanpa memandang 
                                        kemampuan fisik atau kognitif, dapat secara efektif 
                                        belajar dan menerapkan keterampilan digital.</p>
                                </div>
                                <!-- About Item End -->
                            </div>
                            <div class="col-lg-4">
                                <!-- About Item Start -->
                                <div class="about-item">
                                    <div class="item-icon-title">
                                        <div class="item-icon">
                                            <i class="flaticon-increase"></i>
                                        </div>
                                        <div class="item-title">
                                            <h3 class="title"> Memfasilitasi Peluang Kerja</h3>
                                        </div>
                                    </div>
                                    <p> Meningkatkan daya saing peserta dengan 
                                        membekali mereka dengan keterampilan yang 
                                        diminati dan menghubungkan mereka dengan calon 
                                        pemberi kerja melalui program penempatan kerja 
                                        dan peluang jaringan.</p>
                                </div>
                                <!-- About Item End -->
                            </div>
                        </div>
                    </div>
                    <!-- About Items Wrapper End -->

                </div>
            </div>

        </div>
        <!-- About End -->

        <!-- Call to Action Start -->
        <div class="section section-padding-02">
            <div class="container">

                <!-- Call to Action Wrapper Start -->
                <div class="call-to-action-wrapper">

                    <img class="cat-shape-01 animation-round" src="{% static 'myapp\images/shape/shape-12.png' %}" alt="Shape">
                    <img class="cat-shape-02" src="{% static 'myapp\images/shape/shape-13.svg' %}" alt="Shape">
                    <img class="cat-shape-03 animation-round" src="{% static 'myapp\images/shape/shape-12.png' %}" alt="Shape">

                    <div class="row align-items-center">
                        <div class="col-md-6">

                            <!-- Section Title Start -->
                            <div class="section-title shape-02">
                                <h5 class="sub-title">Mau Jadi Voluunter?</h5>
                                <h2 class="main-title">Tertarik untuk menjadi bagian dari SID dan menjadi <span>Pengajar?</span></h2>
                            </div>
                            <!-- Section Title End -->

                        </div>
                        <div class="col-md-6">
                            <div class="call-to-action-btn">
                                <a class="btn btn-primary btn-hover-dark" href="contact.html">Gabung Sekarang</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Call to Action Wrapper End -->

            </div>
        </div>
        <!-- Call to Action End -->

        <!-- Team Member's Start -->
        <div class="section section-padding mt-n1">
            <div class="container">

                <!-- Section Title Start -->
                <div class="section-title shape-03 text-center">
                    <h5 class="sub-title">SID Team</h5>
                    <h2 class="main-title">Sedekah Inovasi Digital</h2>
                </div>
                <!-- Section Title End -->

                <!-- Team Wrapper Start -->
                <div class="team-wrapper">
                    <div class="row row-cols-lg-3 row-cols-sm-3 row-cols-2 ">
                        <div class="col">

                            <!-- Single Team Start -->
                            <div class="single-team">
                                <div class="team-thumb">
                                    <img src="{% static 'myapp\images/author/Picture1.png' %}" alt="Author">
                                </div>
                                <div class="team-content">
                                    <h4 class="name">Maliki Akbar</h4>
                                    <span class="designation">Founder</span>
                                </div>
                            </div>
                            <!-- Single Team End -->

                        </div>
                        <div class="col">

                            <!-- Single Team Start -->
                            <div class="single-team">
                                <div class="team-thumb">
                                    <img src="{% static 'myapp\images/author/Picture2.png' %}" alt="Author">
                                </div>
                                <div class="team-content">
                                    <h4 class="name">Dimmy Harfahmy</h4>
                                    <span class="designation">Co-Founder & CEO</span>
                                </div>
                            </div>
                            <!-- Single Team End -->

                        </div>
                        <div class="col">

                            <!-- Single Team Start -->
                            <div class="single-team">
                                <div class="team-thumb">
                                    <img src="{% static 'myapp\images/author/Picture3.png' %}" alt="Author">
                                </div>
                                <div class="team-content">
                                    <h4 class="name">Erdi Yanuardi</h4>
                                    <span class="designation">COO</span>
                                </div>
                            </div>
                            <!-- Single Team End -->

                        </div>
                        <div class="col">

                            <!-- Single Team Start -->
                            <div class="single-team">
                                <div class="team-thumb">
                                    <img src="{% static 'myapp\images/author/Picture4.png' %}" alt="Author">
                                </div>
                                <div class="team-content">
                                    <h4 class="name">Multazam Lisendra</h4>
                                    <span class="designation">CMO</span>
                                </div>
                            </div>
                            <!-- Single Team End -->

                        </div>
                        <div class="col">

                            <!-- Single Team Start -->
                            <div class="single-team">
                                <div class="team-thumb">
                                    <img src="{% static 'myapp\images/author/Picture6.png' %}" alt="Author">
                                </div>
                                <div class="team-content">
                                    <h4 class="name">Randy Bustary</h4>
                                    <span class="designation">Head of Training & Development</span>
                                </div>
                            </div>
                            <!-- Single Team End -->
                             
                        </div>
                        <div class="col">

                            <!-- Single Team Start -->
                            <div class="single-team">
                                <div class="team-thumb">
                                    <img src="{% static 'myapp\images/author/Picture7.png' %}" alt="Author">
                                </div>
                                <div class="team-content">
                                    <h4 class="name">Gaffy Abdul</h4>
                                    <span class="designation">CTO</span>
                                </div>
                            </div>
                            <!-- Single Team End -->

                        </div>
                    </div>
                </div>
                <!-- Team Wrapper End -->

            </div>
        </div>
        <!-- Team Member's End -->

        <!-- Testimonial End -->
        <div class="section section-padding-02 mt-n1">
            <div class="container">

                <!-- Section Title Start -->
                <div class="section-title shape-03 text-center">
                    <h5 class="sub-title">SID Testimonial</h5>
                    <h2 class="main-title">Testimoni dari <span> Peserta</span></h2>
                </div>
                <!-- Section Title End -->

                <!-- Testimonial Wrapper End -->
                <div class="testimonial-wrapper testimonial-active">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <!-- Single Testimonial Start -->
                            {% for testimonial in testimonials %}
                            <div class="single-testimonial swiper-slide">
                                <div class="testimonial-author">
                                    <div class="author-thumb">
                                        <img src="{{ testimonial.testi_image.url }}" alt="Author">

                                        <i class="icofont-quote-left"></i>
                                    </div>

                                    <span class="rating-star">
                                        <span class="rating-bar" style="width: {{ testimonial.testi_rating }}%;"></span>
                                    </span>
                                </div>
                                <div class="testimonial-content">
                                    <p>{{ testimonial.testi_content }}</p>
                                    <h4 class="name">{{ testimonial.testi_name }}</h4>
                                    <span class="designation">{{ testimonial.testi_designation }}</span>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- Single Testimonial End -->

                        </div>

                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <!-- Testimonial Wrapper End -->

            </div>
        </div>
        <!-- Testimonial End -->

        <!-- Brand Logo Start -->
        <div class="section section-padding">
            <!-- <div class="container"> -->

                <!-- Brand Logo Wrapper Start -->
                <!-- <div class="brand-logo-wrapper"> -->

                    <!-- Section Title Start -->
                    <!-- <div class="section-title shape-03">
                        <h2 class="main-title">Best Supporter of <span> Sedekah Inovasi Digital.</span></h2>
                    </div> -->
                    <!-- Section Title End -->

                    <!-- Brand Logo Start -->
                <!-- <div class="brand-logo brand-active">
                    <div class="swiper-container">
                        <div class="swiper-wrapper"> -->
                            <!-- Single Brand Start -->
                            <!-- <div class="single-brand swiper-slide">
                                <img src="{% static 'myapp/images/brand/dinsos.png' %}" alt="Brand">
                            </div> -->
                            <!-- Single Brand End -->
                            <!-- Single Brand Start -->
                            <!-- <div class="single-brand swiper-slide">
                                <img src="{% static 'myapp/images/brand/dinsos1.png' %}" alt="Brand">
                            </div> -->
                            <!-- Single Brand End -->
                            <!-- Single Brand Start -->
                            <!-- <div class="single-brand swiper-slide">
                                <img src="{% static 'myapp/images/brand/polres.png' %}" alt="Brand">
                            </div> -->
                            <!-- Single Brand End -->
                        <!-- </div> -->
                    <!-- </div>
                </div> -->
                <!-- Brand Logo End -->

                <!-- </div> -->
                <!-- Brand Logo Wrapper End -->

            <!-- </div> -->
        </div>
        <!-- Brand Logo End -->

{% endblock %}