{% load static %}
<div class="section footer-section">
    
    <!-- Footer Copyright Start -->
    <div class="footer-copyright">
        <div class="container">
            <!-- Footer Copyright Start -->
            <div class="copyright-wrapper" style="display: flex; justify-content: center; align-items: center; text-align: center;">
                <div class="copyright-text" style="text-align: center;">
                    <p>&copy; 2024 <span> Yayasan Sedekah Inovasi Digital. </span>  All Rights Reserved</p>
                </div>
            </div>
            <!-- Footer Copyright End -->
        </div>
    </div>
    <!-- Footer Copyright End -->
</div>
<!-- Footer End -->

<!--Back To Start-->
<a href="#" class="back-to-top">
    <i class="icofont-simple-up"></i>
</a>
<!--Back To End-->
