{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}Indonesian_Project - Sedekah Inovasi Digital{% endblock %}

{% block content %}

        <!-- Overlay Start -->
        <div class="overlay"></div>
        <!-- Overlay End -->

        <!-- Page Banner Start -->
        <div class="section page-banner">

            <div class="container">
                <!-- Page Banner Start -->
                <div class="page-banner-content">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">About</li>
                    </ul>
                    <h2 class="title">About <span>Indonesian Project.</span></h2>
                    <p>Platform pelatihan yang berhubungan dengan Microsoft</p>
                    <a class="btn btn-primary btn-hover-primary" target="_blank" href="https://indonesianproject.com/">Pelajari Lebih Lanjut </a>
                </div>
                <!-- Page Banner End -->
            </div>

            <!-- Shape Icon Box Start -->
            <div class="shape-icon-box">

                <div class="box-content">
                    <div class="box-wrapper">
                        <i class="flaticon"><img src="assets/images/slider/indonesianproject.png" alt="Shape"></i>
                    </div>
                </div>

                <img class="icon-shape-2" src="assets/images/shape/shape-6.png" alt="Shape">

            </div>
            <!-- Shape Icon Box End -->

            <img class="shape-3" src="assets/images/shape/shape-24.png" alt="Shape">

            <img class="shape-author" src="assets/images/author/author-11.jpg" alt="Shape">

        </div>
        <!-- Page Banner End -->

{% endblock %}